@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "TextBoxes";

    //the processing of this page is physically done from top to buttom

    //capture the incoming post method data
    //all data coming in will be string

    var leftside = Request.Form["inputleft"];
    var rightside = Request.Form["inputright"];
    var thebuttom = Request.Form["formbuttom"];

}
@section banner {
    <h1>TextBoxes</h1>
    }
<!--This html will apear in the render body on the layer page-->
@if (IsPost)
{
    <p>You have sent this form back. Ispost is true</p>
}
else
{
    <p>You have not yet send this form back. Is post is False</p>
}
    <form id="theform" method="post">
        <div class="col-md-6">
            <label for="inputleft">Left</label>
            <input type="text" id="inputleft" name="inputleft" 
                   placeholder="enter your name" value="@leftside"/>
            <button type="submit" id="formbutton" name="formbutton" 
                    class="btn" value="left">Press Left</button>

        </div>
        <div class="col-md-6">
            <label for="inputright">Right</label>
            <input type="text" id="inputright" name="inputright"
                   placeholder="enter your favourite color" value="@rightside"/>
            <button type="submit" id="formbutton" name="formbutton"
                    class="btn" value="right">
                Press Right
            </button>
        </div>

    </form>
